/*#road {width:150px;height:120px;}
*/

@media all and (max-width:400px){
    
 #road td img{
    height: 45px;
    }
  #road td{
    width: 45px;
    height: 45px;
    }
}

@media all and (min-width:401px){
    
   #road td img{
     height: 100px;
    }

   #road td{
     width: 100px;
     height: 100px;
   }
}





button {width:50px;height:50px;}
div {text-align:center;}
#btnX, #btnO,#btnPause, #btnStart {width:80px;height:50px;color:red}
body{background-color:silver;}
/*td {width:25%;height:25%;}*/
#btnStart,#btnPause{
    width: 200px;
    color: #000;
}